html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.roadmap-page-body {
  min-height: 100%;
  height: auto;
  background: radial-gradient(circle,#5d94cc,#a2bad2);
  /* background-color: #a2bad2; */
  padding: 2px;
  box-sizing: border-box;
}
.page-title{
    text-align: center;
}.instruction{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.selected-city{
  font-family: "Sour Gummy", sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #041978;
}
.go-home-link {
  position: absolute;
  top: 20px;       /* distance from the top */
  right: 20px;     /* distance from the right */
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Sour Gummy", sans-serif;
  z-index: 1000;   /* make sure it appears on top */
}

.go-home-link:hover {
  color: #0056b3;
  text-decoration: none;
}


